{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block page_content %}
    <h1>{{ ('Search Results') }}</h1>

		<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
		    <thead>
		        <th class="active">product number</th>
		        <th class="active">prod_line</th>
		        <th class="active">size</th>
		        <th class='active'>color</th>
		        <th class='active'>price</th>


		    </thead>
    <tbody>
		{% for product in products %}
				<!-- tr -->
				<tr>
						<td>{{ product.prod_nbr }}</td>
						<td>{{ product.prod_line }}</td>
						<td>{{ product.size }}</td>
						<td>{{ product.color }}</td>
						<td>{{ product.price }}</td>

				</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}
